body {
    background-color: black;
    height: 2880;
    width: 1800;
}

/*div#gameContainer {*/
    /*height: 2880;*/
    /*width: 1800;*/
    /*background-color: black;*/
/*}*/

div.shapes {
    /*width: 80px;*/
    /*height: 80px;*/
    /*margin: 15px;*/
    /*border-radius: 400px;*/
    /*opacity: .5;*/

}

div#green.shapes {
    background-color: greenyellow;
    position: relative;
    margin-top: 5%;
    margin-left: 29%;
}

div#blue.shapes {
    background-color: deepskyblue;
    margin-left: 37%;
}

div#purple.shapes {
    background-color: purple;
    margin-left: 45%;
}

div#orange.shapes {
    background-color: orange;
    margin-left: 53%;
}

button {
    margin: 5%;
    background-color: white;
    color: orange;
    margin-left: 36%;
}

button#nextLevel {
    /*margin: 5%;*/
    margin-left: 57%;
    margin-top: -4%;
}

h2 {
    margin: 5%;
    margin-left: 34%;

}