body {
    background-color: whitesmoke;
}

.box {
    /*border: 1px solid green;*/
    height: 250px;
    /*width: 250px;*/
}

.row {
    /*border: 1px solid orange;*/
}

div.container {
    /*border: 1px solid green;*/
    /*height: 1000px;*/
    /*width: 1100px;*/
}

div#green.shapes {
    background-image: url("../img/green-dino.svg");
    background-repeat: no-repeat;
    /*padding-top: 1%;*/
}

div#yellow.shapes {
    background-image: url("../img/yellow-dino.svg");
    background-repeat: no-repeat;

}

div#pink.shapes {
    background-image: url("../img/pink-dino.svg");
    background-repeat: no-repeat;

}

div#orange.shapes {
    background-image: url("../img/orange-dino.svg");
    background-repeat: no-repeat;

}

h2 {
    color: orange;
    padding: 1.5%;
    text-align: center
}

p {
    text-align: center;
    padding-bottom: 1%;
    font-size: 18px;
    color: #DA88B4;
}

span#rounds {
    /*border: 1px solid green;*/
    /*position: absolute;*/
    /*left: 540px;*/
    /*bottom: 85px;*/
    /*!*transform: rotate(-45deg);*!*/
    /*margin-bottom: 25%;*/
    /*text-align: center*/
    float-left: 25%;
    color: #DA88B4;
    font-size: 80px;
}

button {
    /*text-align: center;*/
    /*margin-left: auto;*/
    margin-right: 25%;
    /*width: 6em;*/
    display: flex;
    /*justify-content: center;*/
    background-color: whitesmoke;
    color: orange;

}
